build/
build-deps/
build-full/
debug/
node_modules/
prefix-full/
prefix-lite/
sources/

dist/
/async/
/sync/
/wasm
/worker
/worker.d.ts

test/deno-files/render.wasm.*
test/deno-files/index.d.ts

/.yarn/*
!/.yarn/patches
.pnp.*

CHANGELOG.md.tmp
