build-full/
build/
prefix-full/
prefix-lite/
build-main/
sources/
node_modules/
debug/

dist/
/async/
/sync/
/wasm
/worker

test/deno-files/render.wasm.*
test/deno-files/index.d.ts

.yarn/
.pnp.*

CHANGELOG.md.tmp
